<h2 id="title">Cart</h2>
<div id = "cart">
  <div class="booksItem">
  <div *ngFor = "let books of booksFromCart" class = "booksClass">
    <div class="booksImage"><img [src]="books.imageLink" class = "booksImage"></div>
      <div class="text">
        <p class="textItems"> {{books.name}}</p>
        <p class="textItems">Product ID: {{books.id}}</p>
        <p class="textItems"> Price: {{books.price}}</p>
        <button [routerLink]="['/registr']" id="order">CHECKOUT</button>
        <a><button (click)= "deleteBooksFromCart(books)" class="delete" >DELETE</button></a>
      </div>
    </div>
  </div>
</div>