<div id = "cart">
    <h2>Cart</h2>
    <div *ngFor = "let books of booksFromCart" class = "booksClass">
      <p>{{books.name}}</p>
      <h3>
        <img [src]="books.imageLink" class = "booksImage">
        <p *ngIf = "books.description">
          Description: {{books.description}}
        </p>
        <p>
          Price: {{books.price}}
        </p>
        <button (click)= "deleteBooksFromCart(books)" >Delete from cart</button>
      </h3>
      <hr class = "booksDivider">
    </div>
  </div>