<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="contacts">
    <ul>
        <li><a href="https://www.instagram.com/bookshop_us/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/shopbookshop" target="_blank"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a></li>
    </ul>
    <img class="logo-image" src="//cdn.shopify.com/s/files/1/0880/2454/files/BookShop_Flat_x360.jpg?v=1534218298" srcset="//cdn.shopify.com/s/files/1/0880/2454/files/BookShop_Flat_x360.jpg?v=1534218298 1x,
    //cdn.shopify.com/s/files/1/0880/2454/files/BookShop_Flat_x360@2x.jpg?v=1534218298 2x" alt="BOOK/SHOP" itemprop="logo" width="4%">
    <p>
        Powered by Shopify
    </p>
</div>