<div>
    <h2 id="title"></h2>
  
    <div class="window">
      <div class="booksItem">
        <div *ngFor = "let book of books" class = "booksClass">
  
          <img [src]="book.image || book.imageLink"
               (mousemove)="book.image = book.imageLink2 "
               (mouseleave)="book.image = book.imageLink" [routerLink]="['/books', book.id ]" class = "booksImage">
          <p (click)= "onSelect(book)" class="textBlock">
            <a [routerLink]="['/books', book.id ]" class="nameStyle">{{book.name}}</a>
            <br>
            <a class="PriceStyle">{{book.price}} </a><br>
            <button (click)= "onAddToCart(book)" id="card">Add to Cart</button>
          </p>
  
        </div>
      </div>
    </div>
  </div>