#title{
    text-align: center;
}
.booksClass {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 33%;
    margin-left: 5px;
    cursor: pointer;
}
.booksItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
}
.booksImage{
    width: 100%;
}
.categoryList{
    color: gray;
    margin-left: 30px;
    letter-spacing: 2px;
    text-decoration: none;

}
ul{
    display: flex;
    flex-direction: row;
}

.nameStyle{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.PriceStyle{
    color: black;
    font-size: medium;
    font-weight: 900;
}
#card{
    
    margin-top: 5px;
    width: 30%;
    height: 35px;
    border-width: 1px;
    border-color:rgb(168, 197, 186) ;
    border-radius: 5px;
    color: black;
    background-color: rgb(168, 197, 186);
}
.textBlock{
    text-align: center;
}
.catDet{
    transform: translate(0, 4%);
}