  <div>
    <h2 id="title">Books</h2>
  
    <div class="window">
      <div class="booksItem">
        <div *ngFor = "let books of books" class = "booksClass">
          <div class="hovereffect">
            <img [src]="books.image || books.imageLink" class = "booksImage"
                 (mousemove)="books.image = books.imageLink2"
                 (mouseleave)="books.image = books.imageLink" [routerLink]="['/books', books.id ]" >
            <p (click)= "onSelect(books)" class="textBlock">
              <a [routerLink]="['/books', books.id ]" class="nameStyle">{{books.name}}</a>
              <br>
              <a class="PriceStyle">
                {{books.price}}</a><br>
              <button (click)= "onAddToCart(books)" id="card">Add to Cart</button>
            </p>
  
        </div>
      </div>
    </div>
  </div>